#iconPane, #highScorePane, #scorePane{
    -fx-background-color: orange;
}

#icon, #highScore, #score{
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-position-shape: center;
}

#highScoreLabel, #scoreLabel{
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-text-fill: darkviolet ;
    -fx-position-shape: center;
}

#boardPane{
    -fx-border-color: lightblue;
    -fx-border-width: 5;
}


